[submodule "learncpp"]
	path = learncpp
	url = git@github.com:JackBosco/learncpp.git
	branch = main
[submodule "learntriton"]
	path = learntriton
	url = git@github.com:JackBosco/learntriton.git
	branch = main
